/* Buttons */
.btn-home {
    background-color: #04AA6D;
    color: rgb(255, 255, 255);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    margin-top: 30px;
    transition: all 0.5s;
    font-size: 20px;
}

.btn-home:hover,
.btn-home:active {
    background-color: #07dd8f;
    color: rgb(2, 2, 2);
    border-radius: 5px;
}
