
cuadrado{
            background-color: #3bd980;
            height: 100px;
            width: 100px;
            top: 0px;
            left: 0px;
            border-radius: 10px;
            position: absolute;
         }
body{
    margin: 0;
    padding: 0;
    background: url(img2.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.xd{
    display: flex;
    place-content: center;
    align-items: center;
    padding: 0px;
}
article.articulo{

    background-color: white;
    width: 500px;
    height: 400px;
    box-shadow: 0px 0px 0px 0px black;
    margin:20px 0px 10px 0px;
    padding: 25px;
}
article.articulo1{

    background-color: white;
    width: 700px;
    height: 300px;
    box-shadow: 0px 0px 0px 0px black;
    margin:20px 0px 10px 0px;
    padding: 25px;
}
h1{
    font-size: 30px;
    color: #219ebc;
}
h2{
    font-size: 22px;
    color: orange;
}
p{
    font-family: sans-serif;
    font-size: 19px;
    color: gray;
}

article.articulos{

    background-color: white;
    width: 620px;
    height: 370px;
    box-shadow: 1px 2px 7px 3px black;
    margin:20px 20px 20px 0px;
    padding: 25px;
}
.imag{
    margin-top: 20px;
    width: 400px;
    height: 300px;
    
}
.imag1{
    margin-top: 20px;
    width: 600px;
    height: 300px;
    
}